__pycache__
*.pyc
db.sqlite3

venv/
.venv/
ENV/
htmlcov/
.coverage
exo/package-lock.json
exo/short_url/node_modules/
exo/short_url/static/short_url/*.css
*.lock
todo

[Bb]in
[Ii]nclude
[Ll]ib
pip-selfcheck.json
