{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>short url</title>
    {% load compress %}
    {% compress css %}
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'short_url/style.css' %}" /> -->
      <link href="{% sass_src 'scss/style.scss' %}" rel="stylesheet" type="text/css" />
    {% endcompress %}
  </head>
  <body>
    <div class="title-bar">
      <span class="title-bar-title">Bienvenue sur short url</span>
    </div>

    {% block content %}
    {% endblock %}
    <!-- {% compress js %} -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" crossorigin="anonymous"></script> -->
    <!-- {% endcompress %} -->
  </body>
</html>
