{% extends 'short_url/base.html' %}

{% block content %}
  {% if error is True %}
    <div class="">
      Sorry but we can't create your short url. Please try in few minutes
    </div>
  {% else %}
    {% if messages %}
      <div class="message">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    {% for url in urls %}
      <h4><a href="{% url 'redirect_to_long_url' pk=url.pk %}">{{ url.url_short }}</a></h4>
      <div class="url_long">
        {{ url.url_long }}
      </div>
      <div class="date">
        {{ url.created_date }}
      </div>
      <div class="number">
        {{ url.redirect_number }}
      </div>
      {% if url.nickname %}
        <div class="nickname">
          {{ url.nickname }}
        </div>
      {% endif %}
    {% empty %}
      <div class="">
        No url are available.
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
