{% extends 'short_url/base.html' %}

{% block content %}
  <div class="container">
    <div class="main">

      {% if error is True %}
        <span class="alert label">
          Sorry but we can't create your short url. Please try in few minutes
        </span>
      {% else %}
        {% if messages %}
          <div class="message">
            {% for message in messages %}
              {{ message|safe }}
            {% endfor %}
          </div>
        {% endif %}

        {% for url in urls %}
          <div class="callout">
            <div class="">
              Hash: <a href="{% url 'redirect_to_long_url' pk=url.pk %}">{{ url.url_short }}</a>
            </div>
            <div class="url_long">
              url originale: <a href="{{ url.url_long }}">{{ url.url_long }}</a>
            </div>
            <div class="date">
              Date de création: {{ url.created_date }}
            </div>
            <div class="number">
              {% if url.redirect_number > 1 %}
                Nombre de clics: {{ url.redirect_number }}
              {% else %}
              Nombre de clic: {{ url.redirect_number }}
              {% endif %}
            </div>
            {% if url.nickname %}
            <div class="nickname">
              Pseudo: {{ url.nickname }}
            </div>
            {% endif %}
          </div>
        {% empty %}
          <span class="warning label">
            No url are available.
          </span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
